body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter",sans-serif;
    background-color: #121212;
    color:white;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:3em 2em;
    background-image: url('./img/bg.png');
    background-size: cover;
    text-align: center;
}
header h1{
    font-size: 1.5rem;
}
header a{
    text-decoration: none;
    color:inherit;
    font-size: 0.75rem;
}
form{
    display:flex;
    justify-content: center;
    position: relative;
    top:-20px;

}
input{
    background-image: url('./img/search.svg');
    background-size: 15px;
    background-color: #2E2E2F;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding:1em 2.25em;
    font-family: inherit;
    border-radius:10px 0 0 10px;
    border:none;
    color:inherit;
}
button{
    border:none;
    font-family: inherit;
    color:white;
    cursor:pointer;
}
.watchlist{
    background-color: #121212;
    padding:5px 0 5px 20px;
    background-image: url("./img/add.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
}
.search{
    background-color: #4b4b4b;
    border-radius: 0 10px 10px 0;
    padding:1em 2em;
}
.movies{
    padding:0 2em;
}
.movie{
    display:flex;
    /* flex-direction: column; */
    gap:10px;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding:0 1em;
}
.movies img{
    width: 80px;
}
.movies h2{
    margin:0.5em;
    color:#262626;
}
.details,.details-1,.details-2{
    display:flex;
    gap:10px;
}
hr{
    color: #131313;
}
h3,p{
    display:inline-block;
    margin:0 0 5px 0;
}