body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter",sans-serif;
    background-color: #121212;
    color:white;
}
/* Shared classes */
header,form,.movie{
    display:flex;
}

button{
    border:none;
    font-family: inherit;
    color:inherit;
    cursor:pointer;
}

/* Header Section */
header{
    justify-content: space-between;
    align-items: center;
    padding:3em 2em;
    background-image: url('./img/bg.png');
    background-size: cover;
}
.nav{
    text-decoration: none;
    color:inherit;
    font-size: 0.75rem;
    font-weight: bold;
}

/* Search box */
form{
    justify-content: center;
    position: relative;
    top:-20px;

}
input{
    background-image: url('./img/search.svg');
    background-size: 15px;
    background-color: #2E2E2F;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding:1em 2.25em;
    font-family: inherit;
    border-radius:10px 0 0 10px;
    border:none;
    color:inherit;
}

.search{
    background-color: #4b4b4b;
    border-radius: 0 10px 10px 0;
    padding:1em 2em;
}
/* Movie item */
.watchlist{
    background-color: #121212;
    padding:5px 0 5px 20px;
    background-image: url("./img/add.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 10px;
}
.movies{
    padding:0 2em;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color:#2E2E2F;
}
.movie{
    align-items: center;
    gap:10px;
    margin:20px 0;
}
.movies img{
    width: 120px;
    height: 180px;
}
.star::before{
    content:' ';
    height:10px;
    width:10px;
    background-image: url("./img/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top:0;
    left:0;
}
h3,p{
    display:inline-block;
    margin:0 6px 8px;
}
p{
    font-weight: 300;
}
h3{
    font-weight: 500;
}
.faded{
    opacity: 0.5;
}
hr{
    margin:0;
    width:100%;
}
.added{
    color:yellow;
}